In [63]:
import pandas as pd

In [64]:
weather = pd.read_csv('../data/weather_final.csv')

In [65]:
weather.head()

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco,year,date,location
0,17.8,10.7,63.0,0.0,NaN,20.0,14.8,NaN,1023.9,NaN,NaN,1973,1973-10-7,Charlotte
1,6.7,-3.3,49.0,0.0,NaN,360.0,0.0,NaN,1025.9,NaN,NaN,1973,1973-2-25,Richmond
2,18.9,16.7,87.0,2.3,NaN,200.0,18.7,NaN,1007.6,NaN,NaN,1973,1973-4-1,Atlanta
3,11.7,-2.9,36.0,0.0,NaN,280.0,18.7,NaN,1012.6,NaN,NaN,1973,1973-4-29,Martinsville
4,18.9,9.9,56.0,0.0,NaN,120.0,7.6,NaN,1013.6,NaN,NaN,1973,1973-5-12,Nashville Fgds

In [66]:
weather['coco'].value_counts()

coco
1.0     132
3.0      40
2.0      20
8.0      11
7.0       8
9.0       6
5.0       6
4.0       3
26.0      1
Name: count, dtype: int64

- Heavy rain = .3 per hour * 24 hours =  > 7.2 inches
- Light rain = .1 per hour * 24 hours = < 2.4 inches, but > 0
- Rain = anywhere in [2.4, 7.2]

In [67]:
# iterate over the rows and check the prcp value. If > 7.2, 
# then set 'Heavy Rain. If > 2.4, then set 'Moderate Rain'.
# If > 0.0, then set 'Light Rain'. Otherwise, set 'No Rain'.


weather['coco'] = 'No Rain'
for i in range(len(weather)):
    if weather.loc[i, 'prcp'] > 7.2:
        weather.loc[i, 'coco'] = 'Heavy Rain'
    elif weather.loc[i, 'prcp'] > 2.4:
        weather.loc[i, 'coco'] = 'Moderate Rain'
    elif weather.loc[i, 'prcp'] > 0.0:
        weather.loc[i, 'coco'] = 'Light Rain'

In [68]:
weather.to_csv('../data/weather_final.csv', index=False)